In [1]:
import numpy as np
import pandas as pd

In [2]:
True_data = pd.read_csv('True.csv')
Fake_data = pd.read_csv('Fake.csv')

In [5]:
True_data.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [6]:
Fake_data.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [7]:
Fake_data['label'] = 1
True_data['label'] = 0

In [9]:
True_data

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [11]:
dataset1 = True_data[['text','label']]
dataset2 = Fake_data[['text','label']]

In [22]:
data_set = pd.concat([dataset1,dataset2])

In [23]:
data_set

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [24]:
data_set = data_set.sample(frac=1)

In [25]:
data_set

                                                    text  label
20868  TUNIS (Reuters) - Tunisian Prime Minister Yous...      0
11993  (Reuters) - Several countries, the United Nati...      0
15723  BEIJING (Reuters) - Troops serving at China s ...      0
21980  Finian Cunningham SputnikGoogle is the latest ...      1
11282  President Obama s White House press secretary ...      1
...                                                  ...    ...
2873   HAMBURG (Reuters) - French President Emmanuel ...      0
10044  CHICAGO (Reuters) - Lawyers for former U.S. Ho...      0
9845   RIYADH (Reuters) - U.S. President Barack Obama...      0
12204  GENEVA (Reuters) - A 30-year prison sentence f...      0
9167   President Trump addressed the America people t...      1

[44898 rows x 2 columns]

In [27]:
x = data_set.iloc[:35000,0]
y = data_set.iloc[:35000,1]

In [37]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [40]:
ps = WordNetLemmatizer()
stopword = stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Darshan
[nltk_data]     Jain\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [42]:
def clear_row(row):
  row = row.lower()
  row = re.sub('[^a-zA-Z]',' ',row)
  token = row.split()
  news = [ps.lemmatize(word) for word in token if not word in stopword]
  cleaned_new = ' '.join(news)
  return cleaned_new

In [43]:
data_set['text']

20868    TUNIS (Reuters) - Tunisian Prime Minister Yous...
11993    (Reuters) - Several countries, the United Nati...
15723    BEIJING (Reuters) - Troops serving at China s ...
21980    Finian Cunningham SputnikGoogle is the latest ...
11282    President Obama s White House press secretary ...
                               ...
2873     HAMBURG (Reuters) - French President Emmanuel ...
10044    CHICAGO (Reuters) - Lawyers for former U.S. Ho...
9845     RIYADH (Reuters) - U.S. President Barack Obama...
12204    GENEVA (Reuters) - A 30-year prison sentence f...
9167     President Trump addressed the America people t...
Name: text, Length: 44898, dtype: object

In [44]:
data_set['text'] = data_set['text'].apply(lambda x : clear_row(x))

In [45]:
data_set['text']

20868    tunis reuters tunisian prime minister youssef ...
11993    reuters several country united nation journali...
15723    beijing reuters troop serving china first over...
21980    finian cunningham sputnikgoogle latest u inter...
11282    president obama white house press secretary sp...
                               ...
2873     hamburg reuters french president emmanuel macr...
10044    chicago reuters lawyer former u house speaker ...
9845     riyadh reuters u president barack obama aired ...
12204    geneva reuters year prison sentence woman el s...
9167     president trump addressed america people today...
Name: text, Length: 44898, dtype: object

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [48]:
from sklearn.model_selection import train_test_split
train_data,test_data,train_label,test_label = train_test_split(x,y,random_state = 20)

In [49]:
vect_train_data = vectorizer.fit_transform(train_data)

In [52]:
vect_train_data = vect_train_data.toarray()

In [53]:
type(vect_train_data)

numpy.ndarray

In [54]:
vect_test_data = vectorizer.fit_transform(test_data)

In [56]:
vect_test_data = vect_test_data.toarray()

In [62]:
type(vect_test_data)

numpy.ndarray

In [64]:
training_data = pd.DataFrame(vect_train_data,columns=vectorizer.get_feature_names())

AttributeError: 'TfidfVectorizer' object has no attribute 'get_feature_names'