In [1]:
import numpy as np
import pandas as pd

In [2]:
True_data = pd.read_csv('True.csv')
Fake_data = pd.read_csv('Fake.csv')

In [3]:
True_data.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [4]:
Fake_data.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [5]:
Fake_data['label'] = 1
True_data['label'] = 0

In [6]:
True_data

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
dataset1 = True_data[['text','label']]
dataset2 = Fake_data[['text','label']]

In [8]:
data_set = pd.concat([dataset1,dataset2])

In [9]:
data_set

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [10]:
data_set = data_set.sample(frac=1)

In [11]:
data_set

                                                    text  label
13645   Melissa  wore her Trump hat to a coffee shop ...      1
8561   Wednesday, January 22 was the day of the world...      1
12975  LONDON (Reuters) - No fuel shipments have reac...      0
6335   WASHINGTON (Reuters) - A majority of the U.S. ...      0
22522   Your government thanks you for your participa...      1
...                                                  ...    ...
19236  UNITED NATIONS (Reuters) - North Korea s Forei...      0
18095  Robin Williams was a one-of-a-kind comedian. H...      1
22578  Tune in to the Alternate Current Radio Network...      1
1010   Ivanka Trump is a lot of things to her father ...      1
613    WASHINGTON (Reuters) - Former Trump campaign a...      0

[44898 rows x 2 columns]

In [12]:
x = data_set.iloc[:35000,0]
y = data_set.iloc[:35000,1]

In [13]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [14]:
ps = WordNetLemmatizer()
stopword = stopwords.words('english')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Darshan
[nltk_data]     Jain\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [15]:
def clear_row(row):
  row = row.lower()
  row = re.sub('[^a-zA-Z]',' ',row)
  token = row.split()
  news = [ps.lemmatize(word) for word in token if not word in stopword]
  cleaned_new = ' '.join(news)
  return cleaned_new

In [16]:
data_set['text']

13645     Melissa  wore her Trump hat to a coffee shop ...
8561     Wednesday, January 22 was the day of the world...
12975    LONDON (Reuters) - No fuel shipments have reac...
6335     WASHINGTON (Reuters) - A majority of the U.S. ...
22522     Your government thanks you for your participa...
                               ...
19236    UNITED NATIONS (Reuters) - North Korea s Forei...
18095    Robin Williams was a one-of-a-kind comedian. H...
22578    Tune in to the Alternate Current Radio Network...
1010     Ivanka Trump is a lot of things to her father ...
613      WASHINGTON (Reuters) - Former Trump campaign a...
Name: text, Length: 44898, dtype: object

In [17]:
data_set['text'] = data_set['text'].apply(lambda x : clear_row(x))

In [18]:
data_set['text']

13645    melissa wore trump hat coffee shop immediately...
8561     wednesday january day world largest gun show h...
12975    london reuters fuel shipment reached yemen lar...
6335     washington reuters majority u house representa...
22522    government thanks participation psa purge elec...
                               ...
19236    united nation reuters north korea foreign mini...
18095    robin williams one kind comedian brand humor n...
22578    tune alternate current radio network acr anoth...
1010     ivanka trump lot thing father someone want sex...
613      washington reuters former trump campaign advis...
Name: text, Length: 44898, dtype: object

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [20]:
from sklearn.model_selection import train_test_split
train_data,test_data,train_label,test_label = train_test_split(x,y,random_state = 20)

In [21]:
vect_train_data = vectorizer.fit_transform(train_data)

In [22]:
vect_train_data = vect_train_data.toarray()

In [23]:
type(vect_train_data)

numpy.ndarray

In [24]:
vect_test_data = vectorizer.fit_transform(test_data)

In [25]:
vect_test_data = vect_test_data.toarray()

In [26]:
type(vect_test_data)

numpy.ndarray

In [27]:
training_data = pd.DataFrame(vect_train_data,columns=vectorizer.get_feature_names_out())

In [28]:
testing_data = pd.DataFrame(vect_test_data,columns=vectorizer.get_feature_names_out())

In [29]:
training_data

,00,00 PM,000,000 000,000 Rohingya,000 Syrian,000 The,000 and,000 barrels,000 children,...,youtube com,youtube https,yr,yr old,yuan,zero,zone,zone and,zone in,zones
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.043579
1,0.0,0.0,0.024534,0.0,0.0,0.0,0.0,0.026523,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26245,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
26246,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.032959,0.0,0.0,0.0,0.000000
26247,0.0,0.0,0.020251,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
26248,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
26249,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000